<!DOCTYPE html>
<head>
    <!--Title of the TODO App page-->
    <title>Todo App</title>
    <!--Reference to the css style sheet-->
    <link rel="stylesheet" href="/static/stylesheets/style.css" type="text/css">
    <!--Import the font resource (Ballo Bhai, Candal, and Chewy) from google-->
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Candal|Chewy&display=swap" rel="stylesheet">
    <!--Since we are using icon from font awesome, reference the css source from font awesome here too-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
    <!--Container for the Task input form, Task list, and email input form-->
    <div class="todo-container">
        <!--Title of the App-->
        <h2>To-Do List</h2>
        <!--Container of the Task input form and Task list-->
        <div class="todo">
            <!--Form with POST action for adding new Task to the Application-->
            <form action="/" method="POST" class="todo-header">
                <!--Input type is text and use content as the name of that input-->
                <input type="text" name="content">
                <!--Submit button for updating the task-->
                <button type="submit"><span class="fas fa-plus"></span></button>
            </form>
            <!--List of TODO items-->
            <ul class="todo-list">
                <!--Iterate through the list of TODO objects and display their details in the list item element-->
                <!--Inside <%%> are scripting language-->
                <% todoTasks.forEach(details => { %>   
                <li class="todo-list-item">
                    <!--Display the content of task-->
                    <div class="todo-list-item-name"><%= details.content %></div>
                    <!--Button for editing the TODO item-->
                    <a href="/edit/<%= details._id %>" class="edit">
                        <span class="fas fa-edit"></span>
                    </a>
                    <!--Button for removing the TODO item-->
                    <a href="/remove/<%= details._id %>" class="remove">
                        <span class="fas fa-times"></span>
                    </a>
                </li>
            <% }) %>
            </ul>
        </div>
        <!--Title for sending an email input box-->
        <h3>Send a Copy of List to your Email!</h3>
        <!--Container of email address input box-->
        <div class="todo">
            <!--Action for submiting email address and request an email copy of TODO list-->
            <form action="/email/" method="POST" class="todo-header">
                <!--Input form for the email address-->
                <input type="text" name="email_address">
                <!--Submit email address button-->
                <button type="submit"><span class="fas fa-envelope"></span></button>
            </form>
        </div>
    </div>
</body>